body {
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1em;
}

.card {
  background-color: #f7f7f7;
  padding: 2em;
  border-radius: 0.5em;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 1em 2em;
}

#waitlist-form {
  display: flex;
  justify-content: center;
}
